# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
ENV/

# Databases
api/lunargrid.db
*.db
*.sqlite

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# PLataformIO
.pio/